section#event 
    .container.text-center
        .inner-content
            h3.text-white sản phẩm được nhiều người tin dùng
            p Hãy lựa chọn cho mình một bó hoa phù hợp và ưng ý để người ấy luôn mỉm cười và hạnh phúc.
            a(href="#").hover-purple.btn.text-white Sản phẩm tin dùng
