footer#footer
    .ft-top
        .container
            .row 
                .col-12.col-lg-4.mb-4.mb-lg-0
                    .ft-contact 
                        .ft-logo
                            img(src="assets/images/logo.png", alt="Footer Logo")
                        p.desc - Flowers đã và đang tiếp tục khẳng định vị trí của người dẫn đầu thị trường cung cấp hoa liên tục cho thị trường trong nhiều năm qua.
                        .contact-info 
                            .address.d-flex.align-items-center
                                .icon
                                    i.icofont-location-pin
                                span Trần Duy Hưng, Cầu Giấy, Hà Nội
                            .email.d-flex.align-items-center
                                .icon
                                    i.icofont-envelope
                                span info@info.com
                            .phone.d-flex.align-items-center
                                .icon
                                    i.icofont-phone
                                span 0165.453.3100
                .col-md-6.col-lg-2.mb-4.mb-lg-0
                    h3.ft-title giới thiệu
                    ul.ft-links
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Hoa khai trương
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Hoa chúc mừng
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Hoa tươi
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Hoa chia buồn
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Lẵng hoa
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Quà tặng     
                .col-md-6.col-lg-2.mb-4.mb-lg-0
                    h3.ft-title hướng dẫn
                    ul.ft-links
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Câu hỏi thường gặp
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Hướng dẫn bảo quản
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Hướng dẫn thanh toán
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Hướng dẫn mua hàng
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Quảng cáo
                        li.d-flex.align-items-center
                            i.bx.bx-chevron-right
                            a(href="#").text-white.hover-text-green Liên hệ
                .col-12.col-lg-3
                    h3.ft-title đăng kí dịch vụ
                    .top-search
                        form.d-flex(action="", method="POST")
                            input.form-control(type="text", name="search", placeholder="Email nhận tin...")
                            button(type="submit")
                                i.icofont-envelope
                    ul.social-links.d-flex
                        li
                            a.hover-purple.facebook(href="#")
                                i.icofont-facebook
                        li
                            a.hover-purple.twitter(href="#")
                                i.icofont-twitter
                        li
                            a.hover-purple.google-plus(href="#")
                                i.icofont-google-plus
                        li
                            a.hover-purple.pinterest(href="#")
                                i.icofont-pinterest
                        li
                            a.hover-purple.pinterest(href="#")
                                i.icofont-linkedin
    .ft-bottom 
        .container.text-center
            .d-flex.flex-column.flex-md-row.flex-lg-row.justify-content-between
                p.mb-2.mb-lg-0.mb-lg-0 © Bản quyền thuộc về flowers | Cung cấp bởi Sapo
                p Điện hoa hiện đại - Trần Duy Hưng, Cầu Giấy, Hà Nội | Email: info@info.com | Hotline: 0165.453.3100               