section#hotdeal
    .most-beautiful
        .container 
            .row
                .col-12.col-lg-6
                    .section-title
                        h3.title Sản phẩm đẹp nhất
                    .row 
                        .col-12.col-sm-6.col-md-4.col-lg-4
                            .item
                                .image
                                    a(href="/product") 
                                        img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                .item-info         
                                    h3.item-title
                                        a(href="/product") Thành công 
                                    .price 
                                        span.special-price 500.000₫
                                        span.old-price
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white.p-0
                                        i.icofont-shopping-cart
                        .col-12.col-sm-6.col-md-4.col-lg-4
                            .item
                                .image
                                    a(href="/product") 
                                        img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                .item-info         
                                    h3.item-title
                                        a(href="/product") Thành công 
                                    .price 
                                        span.special-price 500.000₫
                                        span.old-price
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white.p-0
                                        i.icofont-shopping-cart
                        .col-6.col-md-4.col-lg-4.d-none.d-md-block.d-lg-block
                            .item
                                .image
                                    a(href="/product") 
                                        img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                .item-info         
                                    h3.item-title
                                        a(href="/product") Thành công 
                                    .price 
                                        span.special-price 500.000₫
                                        span.old-price
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white.p-0
                                        i.icofont-shopping-cart
                .col-6.d-none.d-lg-block
                    .banner 
                        a(href="#") 
                            img(src="/assets/images/hotdeal/flower_banner1.jpg", alt="Banner")
    .best-selling
        .container 
            .row
                .col-6.d-none.d-lg-block
                    .banner 
                        a(href="#") 
                            img(src="/assets/images/hotdeal/flower_banner2.jpg", alt="Banner")
                .col-12.col-lg-6
                    .section-title
                        p.title Bán chạy nhất
                    .row 
                        .col-12.col-sm-6.col-md-4.col-lg-4
                            .item
                                .image
                                    a(href="/product") 
                                        img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                .item-info         
                                    h3.item-title
                                        a(href="/product") Thành công 
                                    .price 
                                        span.special-price 500.000₫
                                        span.old-price
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white.p-0
                                        i.icofont-shopping-cart
                        .col-12.col-sm-6.col-md-4.col-lg-4
                            .item
                                .image
                                    a(href="/product") 
                                        img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                .item-info         
                                    h3.item-title
                                        a(href="/product") Thành công 
                                    .price 
                                        span.special-price 500.000₫
                                        span.old-price
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white.p-0
                                        i.icofont-shopping-cart
                        .col-6.col-md-4.col-lg-4.d-none.d-md-block.d-lg-block
                            .item
                                .image
                                    a(href="/product") 
                                        img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                .item-info         
                                    h3.item-title
                                        a(href="/product") Thành công 
                                    .price 
                                        span.special-price 500.000₫
                                        span.old-price
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white.p-0
                                        i.icofont-shopping-cart
