section#policy 
    .container
        .policy-content
            .row
                .col-12.col-md-4.col-lg-4.item-policy
                    .info
                        h4
                            i.icofont-vehicle-delivery-van
                            | Miễn phí giao hàng
                        p Trị giá đơn hàng trên 100.000.000
                            sup đ

                .col-12.col-md-4.col-lg-4.item-policy
                    .info
                        h4
                            i.icofont-undo
                            | Khuyến mãi cửa hàng
                        p Trị giá đơn hàng trên 100.000.000
                            sup đ
                .col-12.col-md-4.col-lg-4.item-policy
                    .info
                        h4
                            i.icofont-gift
                            | Quà tặng
                        p Áp dụng cho khách hàng mua lần đầu tiên tại cửa hàng