section#section_product_sale
    .container
        .row 
            .col-12
                .section-title
                    h3.title Khuyến mãi
            .col-12
                .row
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .tag-sale 
                                span Sale
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .tag-sale 
                                span Sale
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .tag-sale 
                                span Sale
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .tag-sale 
                                span Sale
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
                        .item
                            .image
                                a(href="#").find-out
                                    img(src="/assets/images/product-sale/1-1.jpg", alt="Item")
                                a(href="#").find-in
                                    img(src="/assets/images/product-sale/1.jpg", alt="Item")
                            .item-info         
                                h3.item-title
                                    a(href="#") Thành công 
                                .price 
                                    span.special-price 500.000₫
                                    span.old-price 600.000₫
                            .actions 
                                form#formAddProduct(action="", method="POST", enctype="multipart/form-data", data-id="") 
                                    input.hidden(type="hidden", name="", value="")
                                    button(type="submit").btn.btn-buy.d-flex.justify-content-center.align-items-center.mx-auto.text-white 
                                        span Mua hàng
                                        .icon
                                            i.icofont-shopping-cart
                            .box-link               
                                a(href="/product").link-quickview
                                    i.icofont-search-1
            .col-12 
                .text-center
                    a(href="/products").hover-purple.btn.btn-more.text-white Xem thêm 