section#slider 
    .container 
        .row 
            .col-12.col-lg-9.mb-3.mb-md-4.mb-lg-0
                .slide-banners
                    .banner 
                        a(href="#") 
                            img(src="/assets/images/slider/1.png", alt="Banner")
                    .banner 
                        a(href="#") 
                            img(src="/assets/images/slider/2.png", alt="Banner")
                    .banner 
                        a(href="#") 
                            img(src="/assets/images/slider/3.png", alt="Banner")
                .prev-arrow.slick-arrow
                    i.icofont-thin-left
                .next-arrow.slick-arrow
                    i.icofont-thin-right
            .col-12.col-lg-3
                .row
                    .col-6.col-lg-12.sub-image-left
                        .sub-image.mb-31
                            a(href="#") 
                                img(src="/assets/images/slider/1_items.png", alt="Sub image")
                    .col-6.col-lg-12.sub-image-right
                        .sub-image
                            a(href="#") 
                                img(src="/assets/images/slider/2_items.png", alt="Sub image")

