#topbar
    .container
        .row
            .col-6.d-none.d-md-block.d-lg-block
                span Chào mừng bạn đến với flowers!
            .col-12.col-md-6.col-lg-6
                .log
                    a(href="/login").hover-text-purple Đăng nhập 
                    a(href="/register").hover-text-purple Đăng kí  

