/* === BEGIN VARIABLES SCSS === */
/* =====  Typography  ===== */

$f-size-primary: 14px;
$f-size-secondary: 15px;
$f-size-other: 16px;

$f-primary: 'Quicksand', sans-serif;
$f-secondary: 'Montserrat', sans-serif;
$f-other: "Open Sans", sans-serif;

$purple-hover: #66609c;
$purple-hover-border: #afa9f5;
$green-hover: #b7fc56;
$green: #9cd847;
$purple-background: #8781bd;
$heading: #323c3f;
$gray-bg: #fcfcfc;

/* =====  Media Query  ===== */
$s-mobile: 576px;
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-xxl: 1400px;

