extends ./layouts/layout.pug

block variables
    - var title = "Home"
    - var body_class = "home-page"

block content
    
    include ./sections/slider
    include ./sections/policy
    include ./sections/product-sale
    include ./sections/event    
    include ./sections/hotdeal
    include ./sections/brand

block scripts