extends ./layouts/layout.pug

block variables
    - var title = "Product Details"
    - var body_class = "product-details-page"

block content
    
    include ./sections/product-info
    //- include ./sections/policy
    //- include ./sections/product-sale
    //- include ./sections/event    
    //- include ./sections/hotdeal
    //- include ./sections/brand

block scripts